/* ---------- RESET ---------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

/* ---------- GLOBAL ---------- */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

/* ---------- HEADER ---------- */
.header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-accent {
    color: #2e2f42;
}

.nav {
    margin-left: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    display: flex;
    gap: 40px;
}

.contact-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* ---------- HERO ---------- */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
    background-size: cover;
}

.hero-title {
    width: 496px;
    margin: 0 auto 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    font-family: inherit;
    background-color: #4d5ae5;
    color: #ffffff;
    padding: 16px 32px;
    font-size: 16px;
    letter-spacing: 0.04px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* ---------- ADVANTAGES ---------- */
.adv-list {
    display: flex;
    gap: 24px;
}

.adv-list li {
    width: calc((100% - 72px) / 4);
}

.adv-icon {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 24px;
}

.adv-title {
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.adv-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* ---------- TEAM ---------- */
.team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    text-align: center;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 0;
}

.team-name {
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.team-role {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    width: 40px;
    height: 40px;

    background-color: #4d5ae5;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-link svg {
    fill: #f4f4fd;
}

/* ---------- PORTFOLIO ---------- */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
    transform: translateY(0%);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ---------- FOOTER ---------- */
.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
}

.footer-info {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.logo-accent-footer {
    color: #f4f4fd;
}

.footer-text {
    width: 264px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-socials-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 16px;
    color: #ffffff;
}

.footer-socials-list {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-link svg {
    fill: #f4f4fd;
}

/* ---------- VISUALLY HIDDEN ---------- */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}